<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AvaloniaAppCross" connectionString="Data Source=JACO296C;Initial Catalog=AvaloniaAppCross;Integrated Security=True" />
		<!-- connectionString="Server=sql.itcn.dk\TCAA;Database=jaco296c2.SKOLE;User ID=jaco296c.SKOLE;Password=61R68wnPRu;MultipleActiveResultSets=True" -->
	</connectionStrings>
</configuration>